<h1>Stupid Coaching</h1>

<div class="container">
  <div class="card">
    <p><%= @question %></p>
    <p><%= "-You" %></p>
    <br>
    <p><%= @answer %></p>
    <p><%= "-Your coach" %></p>
  </div>
</div>

<div class="button">
  <%= link_to "Ask a new question", "/ask" %>
</div>
